.container
  .header 
    font:
      family: 'lato'
      weight: 900
    padding: 30px
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #aa3f3f
    h1
      span
        color: red

  ul
    display: flex
    flex-wrap: wrap
    justify-content: center

  li
    width: 25%
    display: flex
    text-align: center
    flex: 
      direction: column
      wrap: wrap
    padding: 30px
    background-color: pink