.container
  .header
    letter-spacing: 2px
    font:
      family: 'lato'
      weight: 900
    padding: 30px
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #aa3f3f
    h1
      span
        color: red

  ul
    display: flex
    flex-wrap: wrap
    justify-content: center

  li
    border: 3px solid #444
    border-radius: 15px
    margin: 
      right: 20px 
      bottom: 20px
    width: 25%
    height: 450px
    max-width: 300px
    display: flex
    text-align: center
    flex: 
      direction: column
      wrap: wrap
    padding: 30px
    a
      color: #333
      img
        margin-top: 5%
        border-radius: 15px
        width: 100%
        max-width: 200px
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5)
      h1
        margin-top: 5%
        font-size: 1.5em
        letter-spacing: 2px

.main 
  background: linear-gradient(to bottom,#aa3f3f,#f80c0c)

@media screen and ( max-width: 768px )
  .container 
    .header 
      flex: 
        direction: column
      text-align: center
    ul
      flex: 
        direction: column
    li
      width: 100%
      max-width: 100%
      